@model AuthenticateMVC.RouteConfig

@{
    ViewBag.Title = "CheckMail";
}

<h2>Check Your Mail</h2>
<br />
<p> A link has been sent to your mail to reset your password.</p>
<br />
<p> Wanna Get into Mail <a href="https://mail.google.com/" target="_blank">Click here</a> !!</p>

