@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to NEC's Placement Portal &#128591</h2>
    
    <p style="text-align:justify; font-size:20px">
        &emsp; &emsp; &emsp; &emsp;  Welcome to Placement program of National Engineering College. This program consists of a dedicated and efficient placement team of students and staff who function round the year to ensure that students are placed in reputed companies across the country. Continuous placement training is offered to equip the students on communication, soft skills, confidence building, interview skills and tests of reasoning by experts in the respective fields. Career development programs are regularly conducted through accomplished resource persons across a broad spectrum of industries. The Placement Centre strives to achieve 100% placements year on year. The students are also motivated and equipped to participate in the Campus placement programs. Renowned companies with attractive salary packages are invited for the campus recruitment drive. Companies which are part of on-campus placements are from Software and Core Engineering industry.
    </p>
    <p><a href="https://nec.edu.in/placement/" class="btn btn-primary btn-lg">Know more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>National Engineering College</h2>
        <p style="text-align:justify">
            National Engineering College, Kovilpatti, Tamil Nadu offers a wide variety of high-quality education and training opportunities for every student, awarding qualifications through the highly reputed Anna University. The college offers seven undergraduate and nine postgraduate programs in a wide range of disciplines. NEC is Sprawled in a lush green campus, with an alluring backdrop of an enchanting hillock, in NH7 between Madurai and Tirunelveli. The institute provides an excellent locale for academic pursuits in South Tamilnadu.
        </p>
        <p><a class="btn btn-default" href="https://nec.edu.in">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Research and Development</h2>
        <p style="text-align:justify">The research centers at NEC are supported by over thirty five recognized supervisors, fifty seven Ph.D holders and hundred and forty three research scholars covering wide-ranging areas of specialization in Engineering, Technology and Sciences. NEC is actively involved in various funded projects, and has received over Rs. 6.4 Crores from various Governmental agencies like AICTE, BRNS, CSIR, DST, DRDO, ICMR, IGCAR, TNSTC, etc.,</p>
        <p><a class="btn btn-default" href="https://nec.edu.in/research/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Academics</h2>
        <p style="text-align:justify">The office of the Dean (Academic) was established in the year 2010 to administer all academic activities of the Institution. Dean is responsible for all Academic matters pertaining to U.G. and P.G. programmes offered by the Institute. This office periodically revise the U.G. and P.G. Regulations, curriculum and syllabus of all branches of Engineering, Technology & Science and Humanities as per the guidelines of UGC, AICTE and Anna University, Chennai.</p>
        <p><a class="btn btn-default" href="https://nec.edu.in/academic-dean/">Learn more &raquo;</a></p>
    </div>
</div>